# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.settings/
/target
.DS_Store
temp/
log/
db.properties
config.properties
/target/
.idea
src/main/webapp/assets
src/main/webapp/dist
src/main/webapp/upload
src/main/webapp/img_upload
src/main/webapp/js/lib
*.hprof

