<div >
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">活动列表</div>
                </div>
                <div class="widget-body  am-fr">

                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <button type="button" class="am-btn am-btn-default am-btn-success" @click="dialogVisible = true,newActivity(currData = {})"><span class="am-icon-plus"></span> 新增</button>
                                    <!--<button type="button" class="am-btn am-btn-default am-btn-secondary" @click="resetPassword"><span class="am-icon-refresh"></span> </button>-->
                                    <!--<button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 查看</button>-->
                                    <button type="button" class="am-btn am-btn-default am-btn-danger" @click="deleteActivity"><span class="am-icon-trash-o"></span> 删除</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <el-table ref="multipleTable" @selection-change=" val => multipleSelection = val"
                                  :data="activityList"
                                  tooltip-effect="dark"
                                  style="width: 100%">
                            <el-table-column
                                    type="selection"
                                    width="55">
                            </el-table-column>
                            <el-table-column
                                prop="id"
                                label="id">
                            </el-table-column>
                            <el-table-column
                                    prop="title"
                                    label="标题">
                            </el-table-column>
                            <el-table-column
                                    prop="content"
                                    label="内容">
                            </el-table-column>
                            <el-table-column
                                    prop="type"
                                    label="类型">
                            </el-table-column>
                            <el-table-column
                                    prop="address"
                                    label="活动地址">
                            </el-table-column>
                            <el-table-column
                                    prop="author"
                                    label="负责人">
                            </el-table-column>
                            <el-table-column
                                    prop="releaseTime"
                                    label="发布时间">
                            </el-table-column>
                            <el-table-column label="操作" width="180">
                                <template scope="scope">
                                    <!--@click.native.prevent="deleteRow(scope.$index, tableData4)"-->
                                    <el-button type="text" size="small" @click="dialogVisible = true,editActivity(currData = scope.row)">
                                        编辑 & 查看
                                    </el-button>
                                    <el-button type="text" size="small" @click="multipleSelection=[scope.row],deleteActivity()">
                                        删除
                                    </el-button>
                                </template>
                            </el-table-column>

                        </el-table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                            <el-pagination
                                    small
                                    layout="prev, pager, next"
                                    :current-page.sync="currPage"
                                    :total="store.states.activity_data.length">
                            </el-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <el-dialog append-to-body
            title="提示"
            :visible.sync="dialogVisible"
            width="30%"
            @close="handleClose">
        <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="标题">
                <el-input v-model="form['activity.title']" ></el-input>
            </el-form-item>
            <el-form-item label="内容">
                <el-input v-model="form['activity.content']" ></el-input>
            </el-form-item>
            <el-form-item label="类型">
                <el-input v-model="form['activity.type']"></el-input>
            </el-form-item>
            <el-form-item label="活动地址">
                <el-input v-model="form['activity.address']" ></el-input>
            </el-form-item>
            <el-form-item label="负责人">
                <el-input v-model="form['activity.author']" :disabled="active=='updateActivity'" ></el-input>
            </el-form-item>

        </el-form>

        <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="save()">保存</el-button>
        </span>
    </el-dialog>
</div>