<div>
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title  am-cf">动态排行榜</div>
                    <p> 每周点赞数最多发放奖励，发放奖励为定时间任务，无需手动发送</p>
                </div>
                <div class="widget-body  am-fr">

                    <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                        <div class="am-form-group">
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <!--<a class="am-btn am-btn-default am-btn-success" @click="issue"> 发放积分</a>-->
                                    <a class="am-btn am-btn-default am-btn-success" @click="f_model= true">积分发放设置</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="am-u-sm-12">
                        <el-table ref="multipleTable"
                                  :data="postList"
                                  tooltip-effect="dark"
                                  style="width: 100%">
                            <el-table-column
                                    type="index"
                                    width="50">
                            </el-table-column>
                            <el-table-column
                                    label="用户">
                                <template scope="scope">
                                    {{scope.row.uid.nickname}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="thumbs_up"
                                    label="票数">
                            </el-table-column>
                            <!--<el-table-column-->
                            <!--prop="content"-->
                            <!--label="内容">-->
                            <!--</el-table-column>-->
                            <el-table-column label="内容">
                                <template scope="scope">
                                    {{scope.row.content}}
                                </template>
                            </el-table-column>
                            <el-table-column label="附件数">
                                <template scope="scope">
                                    {{scope.row.media?scope.row.media.length:0}}
                                </template>
                            </el-table-column>
                            <el-table-column
                                    prop="releaseTime"
                                    label="发布时间">
                            </el-table-column>
                        </el-table>
                    </div>
                    <div class="am-u-lg-12 am-cf">
                        <div class="am-fr">
                            <el-pagination small layout="prev, pager, next" :current-page.sync="currPage" :total="store.states.news_data.length">
                            </el-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <el-dialog title="发放积分设置" :visible.sync="f_model" append-to-body="true" width="30%">

        <el-form :model="f_form">
            <el-form-item label="前几名" >
                <el-input v-model="leader_setting.rank" ></el-input>
            </el-form-item>
            <el-form-item label="最高分" >
                <el-input v-model="leader_setting.maxReward" ></el-input>
            </el-form-item>
            <el-form-item label="最低分">
                <el-input v-model="leader_setting.minReward" ></el-input>
            </el-form-item>
            <el-form-item label="间隔">
                <el-input v-model="leader_setting.intervalNums" ></el-input>
            </el-form-item>
            <el-form-item label="周期(天)">
                <el-input v-model="leader_setting.cycle" ></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="f_model = false">取 消</el-button>
            <el-button type="primary" @click="f_model = false,saveSetting()">确 定</el-button>
        </div>
    </el-dialog>

</div>
